
.users{

    .info{
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;

        button{
            padding: 7px;
            cursor: pointer;
            border-radius: 10px;
        }

        button:hover{
            background-color: rgb(235, 21, 57);
            color: rgb(22, 182, 245);
        }
    }
}